#SPDX-License-Identifier: MIT-0
---
# tasks file for delete-vm

- name: Shutting down virtual machines
  proxmox_kvm:
    api_user: "{{ proxmox_user }}"
    api_token_id: "{{ proxmox_token_id }}"
    api_token_secret: "{{ proxmox_token_secret }}"
    api_host: "{{ ansible_host }}"
    node: "{{ proxmox_node }}"
    vmid: "{{ item.vm_id }}"
    name: "{{ item.name }}"
    timeout: "{{ task_timeout }}"
    state: stopped
    force: true
  loop: "{{ virtual_machines }}"
  when: item.delete == true

- name: Deleting virtual machines
  proxmox_kvm:
    api_user: "{{ proxmox_user }}"
    api_token_id: "{{ proxmox_token_id }}"
    api_token_secret: "{{ proxmox_token_secret }}"
    api_host: "{{ ansible_host }}"
    node: "{{ proxmox_node }}"
    vmid: "{{ item.vm_id }}"
    name: "{{ item.name }}"
    timeout: "{{ task_timeout }}"
    state: absent
  loop: "{{ virtual_machines }}"
  when: item.delete == true
