#SPDX-License-Identifier: MIT-0
---
# tasks file for k8s

- name: Installing Git
  apt:
    name: git
    state: present

- name: Downloading installation script
  git:
    repo: 'https://github.com/sandervanvugt/cka'
    dest: /tmp/cka

- name: Installing container runtime
  shell: sh /tmp/cka/setup-container-previous-version.sh
  args:
    removes: /tmp/cka/setup-container-previous-version.sh

- name: Installing kubetools
  shell: sh /tmp/cka/setup-kubetools-previousversion.sh
  args:
    removes: /tmp/cka/setup-kubetools-previousversion.sh

- name: Clean up installation directory
  file:
    path: /tmp/cka
    state: absent
