---
- name: Installing bind9 and dns tools
  apt:
    pkg:
      - bind9 
      - dnsutils
    update_cache: yes

- name: Setting up config file
  template:
    src: named.conf.local.j2
    dest: /etc/bind/named.conf.local
    mode: '0644'
    group: bind

- name: Setting up config options file
  copy:
    src: named.conf.options
    dest: /etc/bind
    mode: '0644'
    group: bind

- name: Setting up forward zone files
  template:
    src: forward.j2
    dest: /etc/bind/forward."{{ item.name }}"
    mode: '0644'
    group: bind
  loop: "{{ zones }}"