---
- name: Installing bind9 and dns tools
  apt:
    pkg:
      - bind9 
      - dnsutils
    update_cache: yes

- name: Setting up zone file
  template:
    src: named.conf.local.j2
    dest: /etc/bind/named.conf.local
    mode: '0644'
    group: bind

- name: Setting up config options file
  copy:
    src: named.conf.options
    dest: /etc/bind
    mode: '0644'
    group: bind