#SPDX-License-Identifier: MIT-0
---
# tasks file for k8s-cluster

- name: Check if cluster has been initizlized
  become: yes
  become_user: "{{ ansible_user }}"
  command: kubectl get nodes
  register: kubectl_get_nodes_output
  failed_when: False

- name: Getting control join certificate key
  shell: sh /tmp/control-join-command.sh 
  register: control_join_output
  when: kubectl_get_nodes_output.rc !=0

- name: Log join output 
  copy:
    content: "{{ control_join_output.stdout }}"
    dest: /tmp/k8s-cluster-join.log 
  when: kubectl_get_nodes_output.rc !=0

- name: Create kubeconfig directory
  file:
    path: /home/{{ ansible_user }}/.kube
    state: directory
    mode: '0755'
    owner: "{{ ansible_user }}"

- name: Copy kubeconfig
  copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/{{ ansible_user }}/.kube/config
    owner: "{{ ansible_user }}"
    mode: '0644'
    remote_src: yes

- name: Set ownership for kubeconfig config file 
  file:
    path: /home/{{ ansible_user }}/.kube/config
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'