#SPDX-License-Identifier: MIT-0
---
# tasks file for k8s-cluster

- name: Copy control join script to control nodes
  copy: 
    src: /tmp/control-join-command.sh 
    dest: /tmp
    mode: '0755'
  when: "'k8s_controllers_slave' in group_names"

- name: Copy worker join script to worker nodes 
  copy: 
    src: /tmp/worker-join-command.sh 
    dest: /tmp 
    mode: '0755'
  when: "'k8s_workers' in group_names"

