#SPDX-License-Identifier: MIT-0
---
# tasks file for k8s-cluster

- name: Setting up kernel
  include_tasks: 'set-kernel.yml'

- name: Installing Container runtime
  include_tasks: 'install-cri.yml'

- name: Installing Kubetools
  include_tasks: 'install-kubetools.yml'

- name: Setting up controller
  include_tasks: 'setup-controller.yml'
  when: "'k8s_controllers' in group_names"